body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow: hidden;
}

h1 {
    color: white;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

.sidebar {
    display:flex;
    flex-direction: column;
    width: 18%;
    height: 100vh;
    background: rgb(49, 162, 255);
    padding: 30px;
    box-sizing: border-box;
}

.sidebar .header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sidebar img {
    width: 70px;
    height: 70px;
}

.sidebar h1 {
    margin: 0;
    font-size: 3rem;
    line-height: 1;
}

.lists {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    gap: 50px;
}

.list1 {
    display: flex;
    flex-direction: column;
}

.list1 div {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    gap: 8px;
}

.list1 img {
    width: 25px;
    height: 25px;
}

.list1 a {
    font-size: 1.4rem;
    font-weight: 800;
    text-decoration: none;
    color: white;
    line-height: 1;
}

.list1 a:hover {
    text-decoration: underline;
}

.content {
    display: flex;
    flex-direction: column;
    width: 82%;
    height: 100vh;
}

.top-nav {
    width: 100%;
    height: 20%;
    background-color: white;
}

.main-content {
    display: flex;
    width: 100%;
    height: 100%; 
    background-color: rgb(228, 228, 228);
    gap: 20px;
}

.your-projects {
    padding: 2%;
    margin-top: 50px;
    margin-left: 2%;
    width: 70%;
    height: 90%;
}

.your-projects h2 {
    color: black;
}

.project-grid {
    display: grid;
    grid-template-columns: 46% 46%;
    grid-template-rows: 250px 250px;
    grid-auto-rows: 250px;
    gap: 50px;
}
.project-grid h3 {
    color: black;
}

.card-content {
    min-height: 100%;
    max-height: 100%;
    padding: 2%;
    border-radius: 15px;
    background-color: white;
}

.icons{
    display: flex;
    flex-direction: row;
    margin-left: 60%;
    margin-top: 15%;
}

.icons img {
    padding: 20px;
    width: 30px;
    height: 30px;
}

.icons img:hover {
    transform: scale(1.2);
}

.side-content {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 25%;
    height: 90%;
}

.announcements {
    margin: 50px;
    width: 80%;
    height: 40%;
}

.announcements-content {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 15px;
}

.announcements-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 32%;
    grid-auto-rows: 32%;
}

.card-content2 {
    min-height: 100%;
    max-height: 100%;
    padding: 2%;
}

.trending {
    margin: 50px;
    width: 80%;
    height: 40%;
}
.trending-content {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 15px;
}
.trending-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px;
    grid-auto-rows: 100px;
}
.card-content3 {
    display: flex;
    flex-direction: row;
}
.card-content3 div {
    display: flex;
    flex-direction: column;
}
.card-content3 img {
    margin: 20px;
    width: 80px;
    height: 80px;
}